.declaration-form-box {
  width: 100%;
  margin: 0;
  padding: 20px 20px;
}
.declaration-form-box .row h6 {
  text-align: center;
  padding: 20px;
  background-color: #d6f5e7;
}
.des-form-box {
  display: flex;
  align-items: center;
}
.dec-submit-btn-box {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}
.dec-btn-submit {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 18px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 500;
}
.dec-btn-submit:hover {
  background-color: #1ebf89;
}
